.footer {
  padding: 0 0 8rem 0;
  background-color: $color-primary-light;

  &__cta {
    margin-top: -8rem;
    background-color: #fff;
    padding: 8rem 15rem;
    display: inline-block;
    text-align: center;
    box-shadow: -1px -1px 15px #00000020, 1px 1px 12px #00000020;
    border-radius: 15px;

    @include respond(tab-small) {
      padding: 4rem 10rem;
    }

    @include respond(phone) {
      padding: 3rem 6.8rem;
    }

    @include respond(phone-small) {
      padding: 2.6rem 4rem;
    }
  }

  .cta__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 3.3rem;
    color: $color-grey-dark-3;
    font-weight: 600;
    margin-bottom: 3rem;

    @include respond(tab-small) {
      font-size: 2.7rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }

    @include respond(phone-small) {
      font-size: 1.8rem;
    }
  }

  &__btn {
    font-family: "Rubik", sans-serif;
    display: inline-block;
    border: none;
    background: none;
    padding: 2.2rem 5.8rem;
    background-color: $color-primary-dark;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s;

    @include respond(phone) {
      padding: 1.8rem 3.2rem;
    }

    @include respond(phone-small) {
      padding: 1.4rem 2.4rem;
      font-size: 1.6rem;
    }

    &:hover {
      background-color: #598c9e;
    }
  }

  &__grid {
    margin-top: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &__logo {
    width: 12rem;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.6rem;
    text-transform: uppercase;
    text-align: start;
    color: $color-primary-dark;
  }

  &__p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: $color-grey-dark;
  }

  &__social-links {
    display: flex;
    gap: 1.8rem;
    list-style: none;
  }

  &__social-icon {
    font-size: 2rem;
    color: $color-primary-dark;
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: #444;
    transition: all 0.3s;
    font-style: normal;
    display: block;

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__address {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.4;
    margin-bottom: 1.7rem;
  }
}
