// NAVIGATION

.main-nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark-3;
    font-weight: 500;
  }
}
