.step {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  font-family: "Rubik", sans-serif;
  color: #555;

  @include respond(tab-port) {
    justify-content: center;
    align-items: center;
  }

  &__item {
    box-shadow: 0px 8px 24px rgb(0 0 0 / 15%);
    padding: 4.8rem 2.4rem 6.2rem 2.4rem;
    border-radius: 11px;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-2rem);

      @include respond(tab-port) {
        transform: translateY(0);
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  &__number {
    font-size: 1.7rem;
    color: #fff;
    background-color: $color-primary-dark;
    border-radius: 50%;
    padding: 1rem;

    &-box {
      text-align: end;
    }
  }

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
    color: $color-primary-dark;
  }

  &__special {
    transform: translateY(5.4rem);

    @include respond(tab-port) {
      transform: translateY(0);
    }

    &:hover {
      transform: translateY(-2rem);

      @include respond(tab-port) {
        transform: translateY(0);
      }
    }
  }

  &__special-2 {
    @include respond(tab-port) {
      transform: translateX(10rem);
    }

    @include respond(phone) {
      transform: translateX(0);
    }
  }
}
