.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  margin-bottom: 10rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @include respond(tab-small) {
    margin-bottom: 6rem;
  }

  &__grid {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  }

  &__rating-box {
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__title-box {
    padding: 0 2.8rem;
    transform: translateY(-3.6rem);

    @include respond(tab-land) {
      padding: 0 1.4rem;
    }

    @include respond(tab-port) {
      padding: 0 0.8rem;
    }

    &__heading {
      font-size: 4.4rem;
      line-height: 1.04;
      color: $color-primary-dark;
      margin-bottom: 3.6rem;

      @include respond(tab-port) {
        font-size: 4.6rem;
        margin-bottom: 2.4rem;
      }

      @include respond(phone-small) {
        font-size: 3.6rem;
      }

      & span {
        font-weight: 700;
        color: #2b5a6b;
      }
    }

    &__text {
      font-size: 1.6rem;
      line-height: 1.6;
      color: #555;

      @include respond(tab-port) {
        font-size: 1.8rem;
      }

      @include respond(phone-small) {
        font-size: 1.6rem;
      }
    }
  }

  &__item {
    background-color: $color-primary-dark;
    padding: 4.2rem 2rem;
    border-radius: 6px;
    color: $color-primary-light;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:nth-of-type(1) {
      transform: translateY(-4.4rem);

      @include respond(tab-small) {
        transform: translateY(0);
      }
    }

    &:nth-of-type(2) {
      transform: translateY(-3.4rem);

      @include respond(tab-small) {
        transform: translateY(0);
      }
    }

    &:nth-of-type(3) {
      transform: translateY(-1.4rem);

      @include respond(tab-small) {
        transform: translate(0);
      }
    }

    &__title-box {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: center;
      margin-bottom: 2.2rem;

      &__info {
        margin-left: -7rem;

        @include respond(tab-port) {
          margin-left: -9rem;
        }
      }

      &__author {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
      }

      &__verify {
        font-size: 1.3rem;
        color: $color-primary;
        font-weight: 700;
        letter-spacing: 0.6px;
      }
    }

    &__img {
      width: 28%;
      border-radius: 50%;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }
}

.rating-box {
  &__rating {
    display: flex;
    background-color: $color-primary-light;
    padding: 2rem 6rem;
    border-radius: 9px;
    width: 48rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    @include respond(tab-port) {
      width: 58rem;
    }

    @include respond(phone) {
      width: 95%;
      padding: 1.4rem 4rem;
    }

    &:not(last-child) {
      margin-bottom: 3rem;
    }

    &:nth-child(2) {
      transform: translateX(4rem);

      @include respond(tab-port) {
        transform: translateX(12rem);
      }

      @include respond(tab-small) {
        transform: translateX(4rem);
      }

      @include respond(phone) {
        transform: translateX(0);
      }
    }

    &:nth-child(3) {
      transform: translateX(8rem);

      @include respond(tab-port) {
        transform: translateX(9rem);
      }

      @include respond(phone) {
        transform: translateX(0);
      }
    }
  }

  &__text {
    margin-left: 3rem;
    font-size: 1.6rem;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 1.9rem;
    }

    & strong {
      text-decoration: underline;
      color: $color-primary-dark;

      @include respond(tab-port) {
        text-decoration: none;
      }
    }
  }

  &__icon {
    color: $color-primary-dark;
    font-size: 1.8rem;

    @include respond(tab-port) {
      font-size: 2.3rem;
    }

    @include respond(phone) {
      font-size: 2.6rem;
    }
  }
}
