.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.6rem !important;
}

.margin-bottom-lg {
  margin-bottom: 5.6rem !important;
}

.margin-bottom-mlg {
  margin-bottom: 7.6rem !important;
}

.margin-bottom-xl {
  margin-bottom: 9.6rem !important;
}

.text-center {
  text-align: center !important;
}
